/* CSS Document */
/*Report and Page Style*/
.report
{
	font-family: "Times New Roman";
	font-size: 13pt;	
}
.page
{
	
}
/*Data and Text Style*/
.data
{
	
}
.text
{
	
}

.reportTitle {
	font-size: 16pt;
	font-weight: bold;
	text-align:center;
}
/*Grid-Style*/
.grid
{
	
}
.grid-row
{
	padding: 3px;
}
.grid-cell
{
	
}
/*Table-Style*/
.table
{
padding: 4px;	
}
.table-cell{
	border:1px solid black;
	padding:3px;
}
.table-header {
	font-weight: bold;
	background-color: #233c98;
	color:#ffffff;
}
.table-header-cell{
	
	
}
.table-footer {
	font-weight: bold;
	text-align: right;
	
}
.table-footer-cell{
	
}
.table-detail{
	
}
.table-detail-cell{
	
	
}
/*CrossTab Style*/
.crosstab
{
}
.crosstab-header
{
	background-color:#233c98;
}
.crosstab-cell
{
	border:1px solid black;
	padding:3px;	
}
.crosstab-column-header
{
	background:#CCC;
}
.crosstab-row-header
{
	background:#CCC;
}
.crosstab-row-grand-total
{
	font-weight:bold;
}
.crosstab-column-grand-total
{
	font-weight:bold;
}
.crosstab-row-sub-total
{
	font-weight:bold;
}
.crosstab-column-sub-total
{
	font-weight:bold;
}
/*Header and Content Style*/
.reportHeader1 {
	font-size: 13pt;
	text-align:center;
}
.reportHeader2 {
	font-size: 13pt;
	font-weight: bold;
	text-align:center;
}
.master1
{
	text-align: left;
}
.reportFooter1 {
	font-size: 13pt;
	font-weight: bold;
	text-align:center;
}
.reportFooter2 {
	font-size: 13pt;
	text-align:center;
}
.reportFooter3 {
	font-size: 13pt;
	font-style: italic;	
	text-align:center;
}
.reportHeaderDate {
	font-size: 13pt;
	font-style: italic;	
}
.center
{
	text-align:center;
}
.crosstabselledit
{
	padding:3px;	
}




